<app-body-header></app-body-header>

<!-- div for displaying images -->

<div class = "container">
 
  <div class ="row" >
  
    <div class = "col-4" *ngFor = "let fl of foodlist;let i = index">
        <img src = {{fl.image}} class = "image" >
        <p>Item Name : {{fl.name}}</p>
        <p>Price: {{fl.price}}</p>
      
        <button class = "btn btn-primary" (click) = "open(content, i)" (mouseover) = "onmouseover(this.i)" (mouseleave) = "onmouseleave()">{{buttonvalue[i]}}</button>
        
    </div>
    
    
  </div> 
  
  
</div>


<ng-template #content let-c="close" let-d="dismiss">
  
  <div class="modal-header">
    <h3>Payment Option</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">
     
    <form >

      <div class="form-group">
          <label>Item Name:</label>
        <input type="text" class = "form-control" value ={{name|uppercase}}  readonly>
      </div>
      
      <div class="form-group">
          <label>Quantity:</label>
          <input type="number" class="form-control" name = "quantity" min="1" max="100" value="1" ngModel #quantitybox (change) = "getquantity(quantitybox.value)">

      </div>
      <div class = "form-group">
          <label>Total Price:</label> 
          <input type="text" value ={{price}} class = "form-control"  readonly> 
      </div>
     
        
      <div class = "radio">
            <div class = "row">
             
              <div class = "col-6">
                  <label>
                      <input type= "radio" name= "payment-option"><img src="./assets/visa.png " class = "payment_image">
                  </label>
              </div>
              
              <div class= "col-6">
                  <label>
                      <input type= "radio" name = "payment-option"><img src="./assets/master.png" class = "payment_image">
                  </label>
              </div>
            
             </div>
            
      </div>
    </form>
    
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Next</button>
  </div>
 
</ng-template>
<hr>

<pre>{{Result}}</pre>


