
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" href="#">{{title}}</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  
		
		<ul class="navbar-nav mr-auto">
		
			<li class="nav-item active">
		  		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
		
			<li class="nav-item">
		  		<a class="nav-link" href="#">About us</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" routerLink = '/'>Logout</a>
			</li>
		
		
	  </ul>
	 
		<form class = "search" >
    	<div class = "form-group">
     
				<input type = "text" id="search-box" name = "search" [(ngModel)] = "display" placeholder="Search" #searchBox (keyup)= "search(searchBox.value)" autocomplete="off" >
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit"  >Search</button>
		
				<ul class="search-result">
					<li *ngFor="let fl of foodlist$ | async" >
						<a >
							{{fl.name}}
						</a>
					</li>
				</ul>

			</div>
		</form>

 	</div>
</nav>
<p>You are searching for : {{display}}</p>